﻿@model VoteManager.ViewModel.ResultsViewModel

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("SelectNewOpenTopic","Results", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>VoteTopic</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(p => Model.SelectedValue, Model.ItemsInDropDown)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Select" class="btn btn-default" />
            </div>
        </div>
    </div>


}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Model.ErrorText
    </div>
    <div class="col-md-4"></div>
</div>


