﻿
@{
    ViewBag.Title = "SelectedTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selected Topic: @Model.SelectedVoteTopic.TopicName</h2>
<h3>Description: @Model.SelectedVoteTopic.Description</h3>
<table class="table">
<tr>
        <th>Option</th>
        <th>Votes</th>
        <th>Status</th>
</tr>
@if (Model != null)
{
    foreach (var option in Model.VoteOptions)
    {
        <tr>
            <td>@option.OptionName</td>
            <td>@option.CurrentVotes</td>
            <td>@option.Status.ToString()</td>
        </tr>

    }
}
</table>
<div>
    @Html.ActionLink("Select new topic", "SelectNewTopic")
</div>
<br/>
<div>
    @Html.ActionLink("Progress to next Option", "ProgressToNext")
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Model.ErrorText
    </div>
    <div class="col-md-4"></div>
</div>
