﻿@model VoteManager.Models.VoteTopic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VoteTopic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotesNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotesNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenInd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenInd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotePhaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotePhaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextVoteTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextVoteTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteOptionsCommaSeperated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteOptionsCommaSeperated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
