﻿@model VoteManager.Models.VoteTopic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VoteTopic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotesNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotesNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenInd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenInd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotePhaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotePhaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextVoteTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextVoteTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteOptionsCommaSeperated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteOptionsCommaSeperated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
