﻿@model IEnumerable<VoteManager.Models.VoteTopic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotesNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenInd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotePhaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextVoteTopic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoteOptionsCommaSeperated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VotesNeeded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenInd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VotePhaseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextVoteTopic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteOptionsCommaSeperated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
