﻿@model VoteManager.ViewModel.VotesViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Model.ErrorText
    </div>
    <div class="col-md-4"></div>
</div>