﻿@model VoteManager.ViewModel.VotesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Topic: @Model.CurrentVoteTopic.TopicName</h2>
<h3>@Model.CurrentVoteTopic.Description</h3>

Please select your option:

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink(Model.Option1.OptionName, "VoteOption1")
    </div>
    <div class="col-md-3">
        @Html.ActionLink(Model.Option2.OptionName, "VoteOption2")
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @Model.ErrorText
    </div>
    <div class="col-md-4"></div>
</div>